span.auto-badge-style1 {
  padding: 4px 8px 4px 8px;
  border-radius: 6px;
  margin-left: 8px;
  background: #c9beb8;
  i.fas,
  i.fab {
    color: @primary-color;
    font-size: 15px;
    margin-right: 5px;
  }
}

span.auto-badge-style2 {
  padding: 4px 8px 4px 8px;
  border-radius: 6px;
  margin-left: 8px;
  background: #b4c3b0;
  i.fas,
  i.fab {
    color: @primary-color;
    font-size: 15px;
    margin-right: 5px;
  }
}

span.auto-badge-style3 {
  padding: 4px 8px 4px 8px;
  border-radius: 6px;
  margin-left: 8px;
  background: #c4cad8;
  i.fas,
  i.fab {
    color: @primary-color;
    font-size: 15px;
    margin-right: 5px;
  }
}

